bin/
obj/
proj2.o

\.popcl\.txt\.kate-swp

popcl\.layout

auth\.txt

popcl_mails/

popcl

popcl\.depend

manual\.docx

~\$manual\.docx

xjanke01/

xjanke01\.tar

README_SK.txt
*.pdf
*.cbp
*.bak
*.layout
*.depend
